<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<h3>Добро пожаловать</h3>
<p>Это простое приложение с данными пользователей, если ты обычный пользователь, то вводи</p>
    <p>Логин и пароль: <b>user</b>, что бы увидеть свои данные! </p>
<br>
<p>Если ты админ, то вводи Логин и пароль: <b>admin</b></p>
<p>У тебя появится таблица со всеми зарегестрированными пользователями и их данными,</p>
<p>так же у тебя будет возможность изменить данные пользователей, добавлять новых и удалить</p>
<br><br>


<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username">
    <br><br>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password">
    <br><br>
    <input type="submit" value="Войти">

    <div th:if="${param.error}" style="color: red">
        Неправильное имя или пароль
    </div>
</form>

</body>
</html>